/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* --- Layout ---*/
.container{
  margin: 0 20px;
}
img{
  max-width: 100%;
}
/* --- typos --*/
h1{
  font-size: 2.2rem;
}
h2{
  font-size:1.625rem;
}
h3{
  line-height: 1.45;
    letter-spacing: normal;
    font-size: 1.5rem;
}
span, p{
  color: #5b5e6d;
  font-family: appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 1.0625rem;
}
/* --- Header --- */
header .nav-bar ul{
  display:none;
}
header .slack-logo{
  height: 52px;
  float: left;
}
header .burger-menu-icon{
  height: 42px;
  padding:10px 0 0;
  float: right;
}
header.cabecera{
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  top: 0;
  left: 0;
}
/* --- SECTION 1 --- */
section.presentacion{
  padding-top: 70px;
}
section.presentacion button{
  background:#3f46ad;
  border:none;
  border-radius:5px;
  width:100%;
  padding: 20px 40px;
  color:white;
  text-transform:uppercase;
  font-style:bold;
  font-size: .9rem;
  font-weight: 700;
}

/* ---  SECTION 2 --- */
section.valores article img{
  height:60px;
  margin-bottom:10px;
}
section.valores footer a{
  text-align:center;
  display:block;
  font-weight:600;
  text-decoration: none;
  border-bottom:1px solid #3f46ad;
  color:#3f46ad;
  line-height: 1.2;
}
/* --- SECTION 3 --- */
section.empresas article{
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  margin: 3%;
}
section.empresas article span{
  color: #323648;
  font-size: 1rem;
}
section.empresas article h3{
  padding:0 33% 10px 10px;
}
section.empresas article .foto-noticia{
  width: 100%;
}
.mas-info{

}
.burger-mas-info{
  height: 88;
}