/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* --- Layout ---*/
.container{
  margin: 0 20px;
}
img{
  max-width: 100%;
}
/* --- typos --*/
h1{
  font-size: 2.2rem;
}
h2{
  font-size:1.625rem;
}
h3{
  line-height: 1.45;
    letter-spacing: normal;
    font-size: 1.5rem;
    margin: 0;
}
h4{
  margin:0;
  font-weight: bold;
  text-transform:uppercase;
  padding:20px 0;
}
 
span, p{
  color: #5b5e6d;
  font-family: appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 1.0625rem;
}
/* --- Header --- */
header .nav-bar ul{
  display:none;
}
header .slack-logo{
  height: 52px;
  float: left;
}
header .burger-menu-icon{
  height: 42px;
  padding:10px 0 0;
  float: right;
}
header.cabecera{
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  top: 0;
  left: 0;
}
/* --- SECTION 1 --- */
section.presentacion{
  padding-top: 70px;
}
section.presentacion button{
  background:#3f46ad;
  border:none;
  border-radius:5px;
  width:100%;
  padding: 20px 40px;
  color:white;
  text-transform:uppercase;
  font-style:bold;
  font-size: .9rem;
  font-weight: 700;
}

/* ---  SECTION 2 --- */
section.valores article img{
  height:60px;
  margin-bottom:10px;
}
section.valores footer a{
  text-align:center;
  display:block;
  font-weight:600;
  text-decoration: none;
  border-bottom:1px solid #3f46ad;
  color:#3f46ad;
  line-height: 1.2;
}
/* --- SECTION 3 --- */
section.empresas article{
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  margin: 3%;
}
section.empresas article header{
  padding:20px 33% 20px 20px;
}
}
section.empresas article span{
  color: #323648;
  font-size: 1rem;
}

section.empresas article .foto-noticia{
  width: 100%;
}
section.empresas article div.mas-info{
  overflow: hidden;
  padding: 5%;
}
section.empresas article div.mas-info span{
  color: #3f46ad;
  text-transform: uppercase;
  font-weight: bold;
}
.burger-mas-info{
  height: 20px;
  float: right;
}

/* --- SECTION 3 FOOTER LOGOS --- */

section.empresas footer{
  /*overflow: hidden;*/
  /*display: flex;
  flex-wrap: wrap;*/
  text-align: center;
}

section.empresas footer img{
  margin: 10px;
}
section.empresas footer img.capitalone{
  width: 115px;
}

section.empresas footer img.col-centro{
  margin: 0 auto;
}
/* --- SSECTION 4 CTA --- */
section.cta{
  background-repeat: repeat;
  background-color: #3f46ad;
  background-image: url("https://a.slack-edge.com/1fd8/spacesuit/source/images/backgrounds/bg_halftone_black_20p@2x.png");
  background-size: 1300px 700px;
  align-items: center;
  text-align: center;
}
section.cta h2{
  color:white;
  padding: 25% 10% 5% 10%;
}
section.cta button{
  background:white;
  border:none;
  border-radius:5px;
  padding: 20px 60px;
  color:#1c299d;
  text-transform:uppercase;
  font-style:bold;
  font-size: .9rem;
  font-weight: 700;
  margin:0 20px 10% 20px;
}
/* --- SECTION 5 --- */
.imagen-logo-peq{
  width: 15%;
  padding-top: 30px;
}
section.enlaces ul.lista-de-listas, ul.lista-de-listas ul{
text-decoration: none;
color: #6d6f7b;
list-style: none;
text-align: left;
padding-left: 0;
line-height: 1.2;
letter-spacing: normal;
font-size: 1rem;
}
section.enlaces ul.lista-de-listas li{
  padding:20px 0;
}

/* --- Footer --- */
footer img{
  height:15px;
  margin:0 10px;
 }
 footer ul{
  padding:0;
  margin:0;
  background:#f5f5f5;
  list-style:none;
 }
 footer ul li{
  padding:15px;
  text-align:center;
  color:#6d6f7b;
  font-weight:700;
 }
 .footer .icons img{
   height:25px;
 }
